NEXT_PUBLIC_SUPABASE_URL=https://aqwvvjxepzdityomduuf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RO2LtdauXvsd3zOddBXBuQ_JEpmMU15
SUPABASE_URL=https://aqwvvjxepzdityomduuf.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_RO2LtdauXvsd3zOddBXBuQ_JEpmMU15
